{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Node JS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quos temporibus laborum tempore dolorum
            animi, officia maiores? Aliquam ducimus vitae veritatis labore magni nemo necessitatibus autem voluptatibus
            est eius. Quo!</p>
    </div>
    <div class="col-4"><img src="assets/img/node.png" alt="Logo node.js" class="img-thumbnail"></div>
</div>


{{> footer }}